.tableFixHead table {
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
}

.tableFixHead thead {
    position: sticky;
    top: 0;
    z-index: 2; /* Needed in Bootstrap tables */
}

.tableFixHead .breakable {
    max-width: 200px;        /* limit column width */
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.tableFixHead {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 80vh;       /* or any height */
}

table  {
    border-collapse: collapse;
}

th, td {
    padding: 8px 16px;
}

.alert {
    max-width: 1140px;
    margin:auto;
    position: relative;
    border-radius: 20px;
}

h1, h2, h3, h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

body {
    font-size: 14pt;
    padding: 10px;
}

#content {
    padding-bottom: 50px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-top: 100px;
}

select {
    width: 100%;
}

@media (max-width: 1140px) {
    body {
        font-size: 1.5em;
        padding: 5px;
    }
    #content {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1, h2, h3, h4 {
        margin-left: 25px;
        margin-right: 25px;
    }
    .alert{
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
}

footer {
    font-size: 0.7em;
    text-align: center;
    display: block;
}

.nav-link {
    color: black;
}
.nav-item:hover {
    background-color: #B9B9B9;
}

.feature, .monospaced {
    background-color: #eff0f1;
    border-radius: 4px;
    font-family: monospace;
}

.feature:empty, .monospaced:empty {
    display: none;
}

button, input, select {
    padding: 10px; /* Make them easier to tap */
    font-size: 1rem; /* Ensure readability */
}

.node-count {
    color: gray;
}

#jobtable-compact tr:nth-child(4n+1) td,
#jobtable-compact tr:nth-child(4n+2) td {
    background-color: #fffae9;
}
#jobtable-table tr:nth-child(2n+1) td {
    background-color: #fffae9;
}

.deleted-user td {
    color: gray;
}