<a href="?action=" class="btn btn-info" role="button">&larr; Back to login</a>

<h2>How to connect to the cluster and start jobs?</h2>
<ol>
    <li>Connect to the university VPN.</li>
    <li>Use the following command to connect via SSH:<br>
    <span class="monospaced">ssh yourcs@{{SLURM_LOGIN_NODE}}</span></li>
</ol>
<p>You can find more information in the Wiki at <a href="{{WIKI_LINK}}" target="_blank">{{WIKI_LINK}}</a> (Login required).</p>

<h2>How to get an account?</h2>
<ul>
    <li>
        <b>If you are a faculty member</b>, you likely already have an LDAP account. It is usually your u:account with a "cs" suffix. This account is used to log in to the cluster.<br>
        However, you have to be added to the list of "allowed" accounts (i.e., to the slurm database). Please write an email and include the following information, so we can add you:
        <ul>
            <li>Your CS account name.</li>
            <li>Your research group(s).</li>
        </ul>
    </li>
    <li>
        <b>If you are a student</b>, please write an email with (at least) the following information:
        <ul>
            <li>Your u:account name.</li>
            <li>A description why you need access (e.g., your project, supervisor, ...).</li>
        </ul>
    </li>
    <li>
        <b>If you are a faculty member but do not have an LDAP account</b>, please ask <i>your local technician</i> whether you can get one ... and then either write us your LDAP account or your u:account name together with your research group.
    </li>
</ul>

<h2>More information</h2>
<p>You can find more information in the Wiki at <a href="{{WIKI_LINK}}" target="_blank">{{WIKI_LINK}}</a>.</p>

<h2>Contact</h2>
<p><b>Main admin and contact:</b> {{ADMIN_NAMES}}</p>
<p>If you have any questions or issues, please do not hesitate to contact me!</p>

<a href="?action=" class="btn btn-info" role="button">&larr; Back to login</a>