<form method="post" action="?{{ACTION}}">
    <fieldset class="border p-2">
        <legend class="w-auto">Filter jobs:</legend>

        <div class="form-outline mb-4">
            <label for="time_min">Show jobs between</label>
            <input
                    type="datetime-local"
                    id="time_min"
                    name="form_time_min"
                    value="{{TIME_MIN_VALUE}}"
                    min="1970-01-01T00:00"
                    max="2033-12-31T23:59"
            />
            <label for="time_max">and</label>
            <input
                    type="datetime-local"
                    id="time_max"
                    name="form_time_max"
                    value="{{TIME_MAX_VALUE}}"
                    min="1970-01-01T00:00"
                    max="2033-12-31T23:59"
            /> (default: today midnight to now)
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefilter"
                aria-expanded="false" aria-controls="collapsefilter">
            Show/Hide more
        </button>

        <div class="collapse" id="collapsefilter">
            <div class="card card-body">

                <div class="form-outline mb-4">
                    <label for="form_cluster">Cluster:</label>
                    <input type="text"
                           name="form_cluster"
                           id="form_cluster"
                           class="form-control"
                           value="{{CLUSTER}}"
                           readonly>
                </div>

                <div class="form-outline mb-4">
                    <label for="form_account">Account:</label>
                    <select class="form-multi-select form-control" name="form_account" id="form_account">
                        {{ACCOUNT_SELECTS}}
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <label for="job_name">Job name:</label>
                    <input type="text"
                           name="form_job_name"
                           id="job_name"
                           class="form-control"
                           value="{{JOB_NAME}}">
                </div>

                <div class="form-outline mb-4">
                    <label for="constraints">Constraints:</label>
                    <input type="text"
                           name="form_constraints"
                           id="constraints"
                           class="form-control"
                           value="{{CONSTRAINTS}}">
                </div>

                <div class="form-outline mb-4">
                    <label for="form_user">User:</label>
                    <select class="form-multi-select form-control" name="form_user" id="form_user">
                        {{USER_SELECTS}}
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <label for="form_nodename">Node name:</label>
                    <select class="form-multi-select form-control" name="form_nodename" id="form_nodename">
                        {{NODE_SELECTS}}
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <label for="form_state">State:</label>
                    <select class="form-multi-select form-control" name="form_state" id="form_state">
                        <option selected></option>
                        <optgroup label="Fail states">
                            <option value="BOOT_FAIL">BOOT_FAIL</option>
                            <option value="CANCELLED">CANCELLED</option>
                            <option value="DEADLINE">DEADLINE</option>
                            <option value="FAILED">FAILED</option>
                            <option value="NODE_FAIL">NODE_FAIL</option>
                            <option value="OUT_OF_MEMORY">OUT_OF_MEMORY</option>
                            <option value="STOPPED">STOPPED</option>
                            <option value="TIMEOUT">TIMEOUT</option>
                        </optgroup>
                        <optgroup label="Success states">
                            <option value="COMPLETED">COMPLETED</option>
                            <option value="CONFIGURING">CONFIGURING</option>
                            <option value="COMPLETING">COMPLETING</option>
                            <option value="RUNNING">RUNNING</option>
                        </optgroup>
                    </select>
                </div>

            </div>
        </div>

        <div class="row mb-3">
            Empty fields are ignored.
        </div>

        <div class="row mb-3">
            <button type="reset" class="btn btn-secondary col-sm-4" style="margin-top: 1em">Cancel</button>
            <div class="col-sm-1"></div>
            <button type="submit" class="btn btn-primary col-sm-7" style="margin-top: 1em">Filter</button>
        </div>
    </fieldset>
</form>