<form method="post" action="?{{ACTION}}">
    <fieldset class="border p-2">
        <legend class="w-auto">Filter jobs:</legend>

        <div class="form-outline mb-4">
            <label for="time_min">Show jobs between</label>
            <input
                    type="datetime-local"
                    id="time_min"
                    name="form_time_min"
                    class="form-control d-inline-block w-auto"
                    value="{{TIME_MIN_VALUE}}"
                    min="1970-01-01T00:00"
                    max="2033-12-31T23:59"
            />
            <label for="time_max">and</label>
            <input
                    type="datetime-local"
                    id="time_max"
                    name="form_time_max"
                    class="form-control d-inline-block w-auto"
                    value="{{TIME_MAX_VALUE}}"
                    min="1970-01-01T00:00"
                    max="2033-12-31T23:59"
            /> <span class="text-muted">(default: today midnight to now)</span>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefilter"
                aria-expanded="false" aria-controls="collapsefilter">
            Show/Hide more
        </button>

        <div class="collapse mt-2" id="collapsefilter">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-6 form-outline mb-4">
                        <label for="form_account">Account:</label>
                        <select class="form-control multiselect-search" name="form_account[]" id="form_account" multiple>
                            {{ACCOUNT_SELECTS}}
                        </select>
                    </div>

                    <div class="col-md-6 form-outline mb-4">
                        <label for="form_partition">Partition:</label>
                        <select class="form-control multiselect-search" name="form_partition[]" id="form_partition" multiple>
                            {{PARTITION_SELECTS}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-outline mb-4">
                        <label for="form_user">User:</label>
                        <select class="form-control multiselect-search" name="form_user[]" id="form_user" multiple>
                            {{USER_SELECTS}}
                        </select>
                    </div>

                    <div class="col-md-6 form-outline mb-4">
                        <label for="form_nodename">Node name:</label>
                        <select class="form-control multiselect-search" name="form_nodename[]" id="form_nodename" multiple>
                            {{NODE_SELECTS}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-outline mb-4">
                        <label for="job_name">Job name:</label>
                        <input type="text"
                               name="form_job_name"
                               id="job_name"
                               class="form-control"
                               value="{{JOB_NAME}}">
                    </div>

                    <div class="col-md-6 form-outline mb-4">
                        <label for="constraints">Constraints:</label>
                        <input type="text"
                               name="form_constraints"
                               id="constraints"
                               class="form-control"
                               value="{{CONSTRAINTS}}">
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label for="form_state">State:</label>
                    <select class="form-control multiselect-search" name="form_state[]" id="form_state" multiple>
                        {{STATE_SELECTS}}
                    </select>
                </div>
            </div>
        </div>

        <p class="mt-2 mb-3 text-muted">Empty fields are ignored.</p>

        <div class="row mb-3">
            <button type="reset" class="btn btn-secondary col-sm-4 mt-3">Reset</button>
            <div class="col-sm-1"></div>
            <button type="submit" class="btn btn-primary col-sm-7 mt-3">Filter</button>
        </div>
    </fieldset>
</form>
