<h3>Node {{NODENAME}}</h3>
<div class="table-responsive">
    <table class="nodeinfo table table-borderless">

        <tr style="width: 100px">
            <td style="width: 100px">
                State:
            </td>
            <td style="background-color: {{STATE_COLOR}}">{{STATE}}</td>
        </tr>

        <tr>
            <td style="width: 100px">CPUs:</td>
            <td>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: {{CPU_PERCENTAGE}}%" aria-valuenow="{{CPU_USED}}" aria-valuemin="0" aria-valuemax="{{CPU_TOTAL}}"></div><br>
                </div>
                {{CPU_USED}} of {{CPU_TOTAL}} CPUs in use ({{CPU_PERCENTAGE}} %)
            </td>
        </tr>

        <tr title="The sum of all RAM memory currently used on that node. This includes buffer and cache memory, which is currently in use but available.">
            <td>Memory:</td>
            <td>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: {{MEM_PERCENTAGE}}%" aria-valuenow="{{MEM_USED}}" aria-valuemin="0" aria-valuemax="{{MEM_TOTAL}}"></div><br>
                </div>
                {{MEM_USED}} of {{MEM_TOTAL}} MiB RAM in use ({{MEM_PERCENTAGE}} %)
            </td>
        </tr>
        <tr title="Sum of RAM used by SLURM jobs. Does not include memory used by other processes or the kernel.">
            <td>RAM of jobs:</td>
            <td>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: {{ALLOC_MEM_PERCENTAGE}}%" aria-valuenow="{{ALLOC_MEM}}" aria-valuemin="0" aria-valuemax="{{MEM_TOTAL}}"></div><br>
                </div>
                {{ALLOC_MEM}} of {{MEM_TOTAL}} MiB RAM in use ({{ALLOC_MEM_PERCENTAGE}} %)
            </td>
        </tr>

        <tr>
            <td>GPUs:</td>
            <td>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: {{GPU_PERCENTAGE}}%" aria-valuenow="{{GPU_USED}}" aria-valuemin="0" aria-valuemax="{{GPU_TOTAL}}"></div><br>
                </div>
                {{GPU_USED}} of {{GPU_TOTAL}} GPUs in use ({{GPU_PERCENTAGE}} %)
            </td>
        </tr>
    </table>
</div>

<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{NODENAME}}" aria-expanded="false" aria-controls="collapse{{NODENAME}}">
    Show/Hide more
</button>

<div class="collapse" id="collapse{{NODENAME}}">
    <div class="card card-body">
        <div class="table-responsive">
            <table class="nodeinfo table">

                <tr>
                    <td>Architecture:</td>
                    <td>{{ARCHITECTURE}}</td>
                </tr>
                <tr>
                    <td>Boards:</td>
                    <td>{{BOARDS}}</td>
                </tr>
                <tr>
                    <td>Features:</td>
                    <td>{{FEATURES}}</td>
                </tr>
                <tr>
                    <td>Active features:</td>
                    <td>{{ACTIVE_FEATURES}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><span class="feature">{{ADDRESS}}</span></td>
                </tr>
                <tr>
                    <td>Hostname:</td>
                    <td><span class="feature">{{HOSTNAME}}</span></td>
                </tr>
                <tr>
                    <td>Operating system:</td>
                    <td><span class="feature">{{OPERATING_SYSTEM}}</span></td>
                </tr>
                <tr>
                    <td>Owner:</td>
                    <td>{{OWNER}}</td>
                </tr>
                <tr>
                    <td>TRES:</td>
                    <td><span class="feature">{{TRES}}</span></td>
                </tr>
                <tr>
                    <td>TRES used:</td>
                    <td><span class="feature">{{TRES_USED}}</span></td>
                </tr>
                <tr>
                    <td>Partitions:</td>
                    <td>
                        <ul>
                            {{PARTITIONS}}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Boot time:</td>
                    <td>{{BOOT_TIME}}</td>
                </tr>
                <tr>
                    <td>Last busy:</td>
                    <td>{{LAST_BUSY}}</td>
                </tr>
                <tr>
                    <td>Reservation:</td>
                    <td>{{RESERVATION}}</td>
                </tr>
                <tr>
                    <td>SLURM version:</td>
                    <td>{{SLURM_VERSION}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>